[features]
seeds = false
skip-lint = false

[programs.localnet]
gig_shield = "4oYtnLRhL2mRfzfXpM7CaC8WUZeAnEdHcAkyDPsmyDYV"

[programs.devnet]
gig_shield = "4oYtnLRhL2mRfzfXpM7CaC8WUZeAnEdHcAkyDPsmyDYV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
